Source: tuquito-wia
Section: gnome
Priority: extra
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: http://paquetes.tuquito.org.ar

Package: tuquito-wia
Architecture: all
Depends: python (>> 2.3.7), python-gtk2 (>= 2.0), python-notify (>= 0.1.1), python-pygame (>= 1.8.1)
Description: Tuquito Wia (Where is application)
 Aplicación que notifica toda instalación y desinstalación de aplicaciones en GNOME.
 * Changelog:
 * Versión optimizada para funcionar de forma oculta
 * Implementacion de i18n
 * Webpage:
 *http://ubuntuwin.altervista.org
 *http://paquetes.tuquito.org.ar
 *Tuquito Team! - 2010
