Source: tuquito-wia
Section: misc
Priority: extra
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1

Package: tuquito-wia
Architecture: all
Depends: python-notify
Description: Tuquito Wia (Where is application)
 Aplicación que notifica toda instalación y desinstalación de aplicaciones.
