[Desktop Entry]
Name=Where is Application?
Comment=Notifica en que menú se encuentra una nueva aplicación instalada
Type=Application
Exec=python /usr/lib/tuquito/tuquito-wia/tuquito-wia.py
Terminal=false
Categories=Utility;
