[Desktop Entry]
Name=Where is Application?
Comment=Notifica en que menú se encuentra una nueva aplicación instalada
Type=Application
Exec=tuquito-wia
Terminal=false
Categories=Utility;
